<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
        <link
      rel="shortcut icon"
      href="https://th.bing.com/th/id/OIP.kwE8IapDUTtylieeRnn2YAHaHa?pid=ImgDet&rs=1"
      type="image/x-icon"
    />
    <title>Blog Website</title>
   
</head>

<body>
    <style>
        .back {
            background: url("light.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
    <div class="back"></div>
    <div class="container">
        <h1 class="mb-4"> Bharat Intern Blog Website</h1>
        <a href="/articles/new" class="btn btn-success">Create Article</a>

        <% articles.forEach(article=>{%>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <%=article.title%>
                    </h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%=article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2">
                        <%=article.description%>
                    </div>
                    <a href="articles/<%=article.slug%>" class="btn btn-primary">Read More</a>
                    <a href="articles/edit/<%= article.id%>" class="btn btn-info">Edit</a>
                    <form action="/articles/<%=article.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>

            <%})%>
    </div>

</body>

</html>